body{
    margin:0px;
}

#main{
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
    overflow:hidden;
}
#touch{
    position:absolute;
    top:0px;
    left:0px;
    z-index:3;
}

#maptype{
    position:absolute;
    top:2px;
    left:2px;
    height:20px;
    z-index:4;
}

#centerIcon{
    position:absolute;
    top:30px;
    left:4px;
    z-index:4;
    opacity:0.75;
}

#northUpIcon{
    position:absolute;
    top:30px;
    left:38px;
    z-index:4;
    opacity:0.75;
}

#trackUpIcon{
    position:absolute;
    top:30px;
    left:72px;
    z-index:4;
    opacity:0.75;
}

#compassBaseImage{
    position:absolute;
    top:4px;
    right:4px;
    z-index:1;
    opacity:0.5;
}
#compassHandImage{
    position:absolute;
    top:4px;
    right:4px;
    z-index:1;
    opacity:0.75;
}
